<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :id_employee %>
    <%= form.number_field :id_employee %>
  </div>

  <div class="form-group">
    <%= form.label :private_number %>
    <%= form.number_field :private_number %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="form-group">
    <%= form.label :id_branch %>
    <%= form.text_field :id_branch %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
